h1{
    background-color: #f02020;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    background-color: #0cde60;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}